* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "nav header"
    "nav main";
  height: 100vh;
}

/*Nav*/

nav {
  grid-area: nav;
  display: grid;
  justify-items: center;
}

/*Header*/

header {
  grid-area: header;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.header-bottom {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.username {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

/*Main*/

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}
