:root {
  --white-background: #fafafa;
  --blue-background: #38bdf8;
  --gray-background: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a,
li {
  color: inherit;
  background-color: var(--blue-background);
  text-decoration: none;
  font-weight: bold;
}

:link,
button {
  border: none;
  background-color: white;
}

button:hover {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "nav header"
    "nav main";
  height: 100vh;
}

/*Nav*/

nav {
  grid-area: nav;
  display: grid;
  justify-items: center;
  background-color: var(--blue-background);
  color: var(--white-background);
  font-size: 1.3rem;
}

li {
  list-style-type: none;
  padding: 10px;
}

.nav1 {
  padding-top: 50px;
  font-size: 2rem;
  font-weight: bold;
}

.nav3 {
  align-self: end;
  padding-bottom: 15px;
  padding-right: 15px;
}

/*Header*/

header {
  grid-area: header;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  gap: 50px;
  padding: 0 50px;
  padding-top: 15px;
}

.header-top1 {
  justify-self: start;
  display: flex;
  gap: 20px;
}

.header-top-name {
  font-weight: bold;
}

.header-top1,
input {
  width: max(200px, 100%);
}

input {
  background-color: var(--gray-background);
  border-radius: 15px;
  border: none;
  padding: 8px;
}

.header-bottom {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 50px;
  padding: 0 50px;
}

.username {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.username-container {
  display: flex;
  justify-self: start;
  gap: 25px;
  font-weight: bold;
}

.username-top {
  font-size: 0.8rem;
}

.username-bottom {
  font-size: 1.5rem;
}

.header-bottom-buttons {
  background-color: var(--blue-background);
  color: var(--white-background);
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 0.8rem;
}

.search {
  border: none;
  background-color: var(--white-background);
}

/*Main*/

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "main1 main2"
    "main1 main3";
  overflow: auto;
  background-color: var(--gray-background);
}

.main1 {
  grid-area: main1;
}

.main2 {
  grid-area: main2;
}

.main3 {
  grid-area: main3;
}

.project-container {
  padding: 25px;
}

.main-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 25px;
  height: 100%;
}

.main-announcements {
  display: grid;
  grid-template-columns: 1fr;
}

.main-trending {
  display: grid;
  grid-template-columns: 1fr;
}

.project-cards {
  padding: 50px;
  background-color: var(--white-background);
}

.main1 > h2,
.main2 > h2,
.main3 > h3 {
  padding: 25px;
}
